/Practica_3/Practica3/nbproject/private/
/Practica_3/icontador/nbproject/private/
/Practica_3/icontador/dist/
/Practica_3/icontador/build/
/Practica_3/contador/nbproject/private/
/Practica_3/contador/dist/
/Practica_3/contador/build/
/Practica_3/servidor/nbproject/private/
/Practica_3/Cliente/nbproject/private/
/Practica_3/servidor/build/
/Practica_3/Cliente/build/
/Practica_3/Ejemplo1/nbproject/private/
/Practica_3/Ejemplo1/build/
/Practica_3/IcomunicacionServer/nbproject/private/
/Practica_3/ComunicacionServer/nbproject/private/
/Practica_3/IcomunicacionServer/dist/
/Practica_3/IcomunicacionServer/build/